<div class="content content--about">
    <div class="author">
        <img class="author__photo" src="assets/images/love.jpg"/>
        <div class="author__social-media">
            <a href="https://www.goodreads.com/user/show/15726850-sophia-el-kerdini">Goodreads</a>
            <a href="https://www.youtube.com/channel/UCm2eiXG0mYqvbV0Lc228U7Q">Youtube</a>
            <a href="https://www.facebook.com/Sophia-Boris-El-Kerdini-550153278481056/">Facebook</a>
            <a href="https://www.instagram.com/soboris/">Instagram</a>
        </div>
    </div>

    <div class="about">
        J'ai développé un goût pour l'écriture depuis un très jeune âge en particulier dans le genre fantastique, fantasy et horreur.

        J'ai commencé cette aventure de manière purement intuitive ne réussissant pas toujours à expliquer comment je "savais" à quel moment dévoiler l'antagoniste, quelle scène ne servait plus l'histoire, et comment clôturer chaque chapitre.

        Plus tard, j'ai appris qu'il existait des méthodes, une logique, une cohérence derrière la construction d'un récit.

         Mon expérience m'a permis d'accumuler un bon nombre de connaissances sur la structure d'une histoire et des différents éléments qui constituent un récit, et je continue d'apprendre tous les jours.

        En tant qu'écrivaine je sais combien il est nécessaire et important de mettre son œuvre à l'épreuve avant de la lâcher dans la nature, de recevoir un feed-back sérieux, faisant à la fois  preuve de substance et de consistance. L'idée m'est donc venue de créer ce site afin de partager ce savoir faire sous la forme de services éditoriaux.
    </div>
</div>