<div class="content content--about">
    <div class="author">
        <img class="author__photo" src="assets/images/me.jpg"/>
        <div class="author__social-media">
            <a href="https://www.goodreads.com/user/show/15726850-sophia-el-kerdini" target="_blank">
                <i class="fab fa-goodreads"></i>
            </a>
            <a href="https://www.facebook.com/Sophia-Boris-El-Kerdini-550153278481056/" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCm2eiXG0mYqvbV0Lc228U7Q" target="_blank">
                <i class="fab fa-youtube-square"></i>
            </a>
            <a href="https://www.instagram.com/soboris/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="http://soundcloud.com/sophia-boris-elkerdini/" target="_blank">
                <i class="fab fa-soundcloud"></i>
            </a>
        </div>

    </div>

    <div class="about">
        <p>
            Je m’appelle Sophia. Mon métier est l’écriture. Ce qui alimente mes écrits ? L’Humain. La complexité de ses émotions, la fragilité de ses idéaux et les contradictions qui l’habitent sans porter atteinte à son bon sens.
        </p>

        <p>
            À travers ce site, je partage avec vous une partie de ces univers obscurs et magiques. Certains confinés dans la forme de nouvelles et de romans, d’autres sous forme d’essais sur mes pensées et mes états d’âmes.
        </p>

        <p>
            Le site vous permettra par ailleurs de garder un œil sur mes prochaines publications afin de ne pas rater les rendez-vous importants. En attendant, et pour les plus impatients d’entre vous, vous aurez accès aux premiers chapitres pour vous donner un avant-goût de l’intrigue.
        </p>

        <p>
            N’hésitez pas à me suivre sur ma chaine YouTube si vous avez soif de conseils d’écriture, et à me rejoindre sur le groupe Goodreads « Les Maures Passionnés » si vous souhaitez enrichir votre liste de lecture.
        </p>

        <p>
            Au plaisir de vous croiser sur la toile !
        </p>
    </div>
</div>