.content--about {
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    max-width: 840px;
}

.author {

  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
      width: 350px;
      height: 350px;
      border-radius: 350px;
      background-color: $gray;
  }

  &__social-media {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;

    a {
      text-transform: uppercase;
      color: $red;
      letter-spacing: 2px;

      &:not(:last-child) {
        &:after {
          content: " •";
        }
      }

      &:hover {
        color: $blue;
      }
    }
  }

}

.about {
    padding-left: 60px;
}