---
layout: page
---

<div class="content content--writings">
  {% assign hasNoEntry = true %}
  {% for post in site.posts %}
    {% if post.categories[0] == page.name %}
      {% assign hasNoEntry = false %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="entry">
        <h2 class="entry__text">{{ post.title }}</h2>
        {% if post.author %}
          <h3 class="entry__sub-text">By {{ post.author }}</h3>
        {% endif %}
        <div class="entry__date">{{ post.date | date: "%B, %Y" }}</div>
      </a>
    {% endif %}
  {% endfor %}

  {% if hasNoEntry == true %}
    <div>
      There's no published stuff in this category. Come back lateur!
    </div>
  {% endif %}
</div>